.FilterSection {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#f0f7f7;

    @media only screen and (max-width: 600px) and (min-width: 361px) {
        padding-left: 30px;
        padding-right: 30px;
        
      }

      @media only screen and (max-width: 361px) {
        width:100%;
        padding-left: 0px;
        padding-right:0px;
    }
    
}

.FilterMenu {
    display: flex;
}