@import '../../App.scss';

.Header {
    /* Apply the background color inherited from Gloabal style sheet: App.scss*/

    background-color: $primaryGreen;
    padding: 20px;


};

.LogoImage{
    width: 200px;
    height: 80%;
    /* Mobile view support,  change the width of the icon.*/
    @media only screen and (max-width: 600px) {
        width: 150px;
      
      }
}