@import '../../../../App.scss';

.SupplierMenu{
    border-radius: 1px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}

.FilterInput{
    width: 400px;
    height: 38px;
    border: 1px #eee solid;
    padding: 0 30px 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    font-size: 15px;
    background-image: url('../../../../static//image/arrowDown.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: bottom 10px right 10px;
    padding: 8px 0px 8px 30px;
    cursor: pointer;
    :hover{
        cursor: pointer;
    }

   
    @media only screen and (max-width: 700px) and (min-width: 361px) {
        width: 200px;
      
      }
      @media only screen and (max-width: 360px) {
        width: 180px;
      
      }
    
}

.icon {
    position: absolute;
    right: 0;
}

.inputBox{
    position: relative;
    display : flex;
    align-items: center;

}
.resetButton {
    margin-left: 10px;
    color: #fff;
    width: 150px;
    background-color: black;
    border-radius:3px;
    border: 1px solid;
    background-image: url('../../../../static//image/whiteCross.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding: 5px;
    background-position: bottom 10px left 10px;

    @media only screen and (max-width: 700px) and (min-width: 301px) {
        width: 120px;
        padding-left: 10px;
        padding-right: 10px;
      
    }

    @media only screen and (max-width: 300px) {
        width: 120px;
        padding-left: 10px;
        padding-right: 10px;
      
    }
    
}

.resetButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

.resetButton:active {
    background-color: #4CAF50;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
